
<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/mysense-logo.svg" alt="Logo" height="30" />
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button>
        <a class="skip-link" href="/tabs/tab1">Пропустити</a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="steps">
  <swiper-container [pagination]="{ clickable: true }"  class="ion-padding">
    <swiper-slide>
      
        <div class="how-start__item__text" class="ion-padding">
           <img class=" ls-is-cached" src="/assets/test_680943e5d526f.png">     
             <span class="how-start__item__number">01</span>   
                  <h3 class="how-start__item__title">Пройдіть тест</h3>  
                        <p class="how-start__item__description">Пройдіть короткий, але ефективний тест і ми запропонуємо фахівців, які максимально підходять до вашого запиту        </p> 
         </div>
      
    </swiper-slide>
    <swiper-slide class="ion-padding">
      
        <div class="how-start__item__text" >
           <img class=" ls-is-cached" src="/assets/step_2_680945b39ef65.png">     
             <span class="how-start__item__number">02</span>   
                  <h3 class="how-start__item__title">Оберіть психолога
                  </h3>  
                        <p class="how-start__item__description">Перегляньте профілі запропонованих психологів та оберіть того, хто вам найбільше сподобався

                        </p> 
         </div>
      
    </swiper-slide>
    <swiper-slide>
      
        <div class="how-start__item__text">
           <img class=" ls-is-cached" src="/assets/step_3_68094627397f4.png">     
             <span class="how-start__item__number">03</span>   
                  <h3 class="how-start__item__title">Забронюйте консультацію
                  </h3>  
                        <p class="how-start__item__description">Оберіть зручний для вас час із графіка вільних годин, забронюйте цей час та здійсніть оплату через безпечну платіжну систему.

                        </p> 
         </div>
      
    </swiper-slide>
    <swiper-slide>
      
        <div class="how-start__item__text">
           <img class=" ls-is-cached" src="/assets/step_4_6809467347b70.png">     
             <span class="how-start__item__number">04</span>   
                  <h3 class="how-start__item__title">Працюйте з психологом в обраному форматі

                  </h3>  
                        <p class="how-start__item__description">Онлайн-зустрічі проходять за посиланням, які ви будете отримувати в чаті свого особистого профілю. Очні зустрічі проходять у кабінеті психолога. </p> 
                        <ion-button expand="block" size="default" href="/tabs/tab2" class="banner__link">Розпочати</ion-button>
                      </div>
      
    </swiper-slide>
   

  </swiper-container>
  <div class="swiper-pagination"></div>
   
  
</ion-content>
